body {
    margin: 1em 0 0 0;
    background-color: #464c52;
}

#content {
    margin-top: 2em;
}

table td.center, table th.center{
    text-align: center;
}

table td.right, table th.right{
    text-align: right;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav > .nav-item {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-nav > .nav-item > a {
    cursor: pointer;
}

.floating-form-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    margin: 15px;
}

.dropdown-menu {
    left: 15px;
}

.conflict-button-area {
    text-align: right;
}

.conflict-button {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    display: inline;
    margin: 0 10px;
}

.tags-input-field, .tags-available-field {
    height: auto;
    padding: 0;
}

.btn-tag {
    margin: 5px;
    cursor: pointer;
}

.btn-tag > i {
    margin-left: 10px;
}

.add-tag-input, .add-tag-input:focus, .add-tag-input:active, .add-tag-input:hover {
    margin: 10px;
    border-style: none;
    border-width: 0;
    box-shadow: none;
    background: transparent;
    outline: 0;
}

.online-indicator {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 1.4rem;
}

.space-below {
    margin-bottom: 85px;
}

.tasks-table-cell-title {
}

.tasks-table-cell-created {
    font-size: 0.9rem;
}

.task-input-row {
    display: flex;
}

.task-input-row > input {
    flex-grow: 1.0;
}

.task-input-row > button {
    margin-left: 10px;
}