body {
    margin: 1em 0;
    background-color: #464c52;
}

#content {
    margin-top: 2em;
}

table td.center, table th.center{
    text-align: center;
}

table td.right, table th.right{
    text-align: right;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav > .nav-item {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-nav > .nav-item > a {
    cursor: pointer;
}

.dropdown-menu {
    left: 15px;
}

.conflict-button-area {
    position: absolute;
    right: 15px;
    top: 0;
}

.conflict-button {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    display: inline;
    margin: 0 10px;
}